include documentation-theme/mixins/card

mixin blockContents
    - var version = current.path[0]
    - var homepageData = public[version]._data._homepage

    each section, sectionName in homepageData
        if section.title
            h2.u-text-size-larger #{section.title}
        if section.intro
            p #{section.intro}
        if section.questions
            for question in section.questions
                div.mt2
                    a.no-underline.util-block(href=`./${question.href}`) #{question.question}
        if section.blocks
            - var numberOfBlocks = section.blocks.length
            - var gridSize = 2

            //- Honestly, completely arbitrary numbers to match what we already
            //- display on docs.
            - if (numberOfBlocks === 3) {
                - gridSize = 3
            - } else if (numberOfBlocks >= 7) {
                - gridSize = 4
            - }
            div(class=["c-grid", `c--${gridSize}up`])
                each block in section.blocks
                    +card(block.href, block.title, block.info, block.button, block.image, isComponentBlock)