mixin card(href, heading, message, button, image)
    article.c-card
        h4.c-card__heading
            a(href=href) #{heading}
        div.u-flexbox
            p.u-flex.c-card__message #{message}
            if image
                div.u-flex
                    img(src=image)
        div.c-card__basement
            a.c-button.c--primary(href=href) #{button}
