include ./logo

- var tabIndex = 0

//- All of our articles are nested in a folder matching the article "short name"
//- and then contain a file name `index.md` that hosts the actual content
- var currentDoc = current.path[current.path.length - 2]
- var docsRoot = environment === 'production' ? docsRootProd : docsRootDev

mixin renderMenuLink(level, slug, path, data, hasChildren)
    -
        var isActiveDoc = slug === currentDoc ? "c--active" : ""
        var title = ((data && data.title) || "** MISSING TITLE **")
        var accordionIsActive = hasChildren && currentDoc in hasChildren
        var accordionClasses = {
            "sdk--active": accordionIsActive,
            "sdk--remove-transition": accordionIsActive
        }
        var href = `${path}/${slug}/`

    //- Top-level category; accordion button
    if (level === 1 && hasChildren)
        button.sdk-sidebar__accordion.u-text-medium(class=accordionClasses)
            .sdk-sidebar__accordion-title= title
    //- Top-level category; just a link
    if (level === 1 && !hasChildren)
        a.sdk-sidebar__link.u-text-medium(href=href tabindex=tabIndex++ class=isActiveDoc)
            span.sdk-sidebar__accordion-title= title
    //- Document link
    if (level !== 1)
        a.sdk-sidebar__list-link(href=href class=isActiveDoc)= title

mixin renderMenu(level, path, node)
    each item, slug in node._data
        //- Ignore special slugs
        if (slug.startsWith('_') || slug === "styleguidist" || slug === "index")
            - continue;

        li
            - var hasChildren = node[slug] && node[slug]._data
            - var accordionIsActive = hasChildren && currentDoc in hasChildren
            - var accordionInlineStyles = (accordionIsActive ? "max-height: initial;" : "")
            +renderMenuLink(level, slug, path, node._data[slug], hasChildren)
            if (level === 1 && hasChildren)
                ul.sdk-sidebar__accordion-item.u-list-style-none(style=accordionInlineStyles)
                    +renderMenu(level + 1, path + '/' + slug, node[slug])

mixin sidebar
    nav.c-sidebar.c--hide.u-flexbox.u-flex-column.u-fixed.u-place-top.u-place-bottom.u-place-start.u-clip.u-background-accent(role='navigation' id='navigation')
        h2.u-visually-hidden Menu

        div.u-flex-none.u-padding-start.u-padding-end.u-padding-top.u-padding-bottom.u-background-accent-darker
            div.u-flexbox.u-align-center.u-justify-between
                a#js-menu-first-focus.u-neutral-10(href='/')
                    div.c-logo
                        +logo
                a.u-neutral-10(href='https://cloud.mobify.com/support/')
                    span.u-block.u-padding-top-sm.u-padding-bottom-sm.u-text-medium Support

        div.c-sidebar__heading.u-background-accent-dark
            a.u-flexbox.u-padding-top.u-padding-bottom.u-padding-start-sm.u-padding-end.u-neutral-10.u-text-size-medium(href='/')
                span.u-block(style='transform:rotate(90deg) scale(0.5);')
                    include ../icons/icon-chevron.svg
                span Mobify Documentation

        div.u-flex.u-context.u-background-accent
            div.sdk-sidebar__scroll.u-position.u-place-start.u-place-end.u-place-top.u-place-bottom.u-padding-bottom-lg.u-padding-top
                ul#sidebar-links.u-list-style-none.u-background-accent
                    if version && public[version] && public[version]._data
                        +renderMenu(1, docsRoot + version, public[version])
                button#js-close-menu.u-visually-hidden Close Menu
