include ./logo

- var path = [].concat(current.path)
//- This is a "version" for some projects, and a "product" for others
- var version = path[0]
- var category = path[1]
- var document = path[2]
- var isDocumentationHub = PROJECT_NAME === 'Documentation Home'

mixin buildMenu
    //- We're looking for defined categories - keys with an underscore and other
        specific keys are not valid here
    - var categories = _.pickBy(public[version]._data, function(value, key) {
        - return !key.startsWith('_') && key !== 'styleguidist' && key !== 'index' && key !== 'sitemap.xml'
    - })

    for category, categorySlug in categories
        - var isActiveCategory = path[1] === categorySlug
        - var documents = public[version][categorySlug]._data

        li
            //- No defined data for a given category means there are no child
                documents
            if typeof documents === 'undefined'
                a.sdk-sidebar__link.u-text-medium(href=`/${categorySlug}/` class={ 'c--active': isActiveCategory })
                    .sdk-sidebar__accordion-title= category.title
            else
                -
                    var accordionClasses = {
                        'sdk--active': isActiveCategory,
                        'sdk--remove-transition': isActiveCategory
                    }
                button.sdk-sidebar__accordion.u-text-medium(class=accordionClasses)
                    .sdk-sidebar__accordion-title= category.title
                ul.sdk-sidebar__accordion-item.u-list-style-none(style={ 'max-height': isActiveCategory ? 'initial': '' })
                    for document, documentSlug in documents
                        a.sdk-sidebar__list-link(href=`/${version}/${categorySlug}/${documentSlug}` class={ 'c--active': documentSlug === path[2] })= document.title

mixin sidebar
    nav.c-sidebar.c--hide.u-flexbox.u-flex-column.u-fixed.u-place-top.u-place-bottom.u-place-start.u-clip.u-background-accent(role='navigation' id='navigation')
        h2.u-visually-hidden Menu

        //- Logo and support link
        - var homepageHref = isDocumentationHub ? `${DOCS_ROOT}` : `${DOCS_ROOT}${version}/`
        div.u-flex-none.u-padding-start.u-padding-end.u-padding-top.u-padding-bottom.u-background-accent-darker
            div.u-flexbox.u-align-center.u-justify-between
                a#js-menu-first-focus.u-neutral-10(href=homepageHref)
                    div.c-logo
                        +logo
                a.u-neutral-10(href='https://cloud.mobify.com/support/')
                    span.u-block.u-padding-top-sm.u-padding-bottom-sm.u-text-medium Support

        //- Product picker
        div.u-background-accent-dark
            div.c-sidebar__product-picker.u-flexbox.u-justify-between.u-align-center.u-margin-top-md.u-margin-bottom-md.u-padding-start.u-padding-end.u-neutral-10.u-text-size-medium
                button.c-sidebar__product-picker-button.u-background-accent-dark= PROJECT_NAME
                span.c-sidebar__product-picker-chevron
                    include ../theme/icons/icon-chevron-down.svg
            ul.c-sidebar__product-picker-item.u-text-size-medium
                //- Projects define a PROJECT_NAME global in _harp.json, which
                //- we use here to determine what appears in the list of other
                //- products.
                each href, name in { 'Progressive Web SDK': '/progressive-web', 'AMP SDK': '/amp-sdk', 'Documentation Home': '/' }
                    if PROJECT_NAME !== name
                        li
                            a.c-sidebar__product-picker-link.u-padding(href=href)= name

        //- Documentation Hub: Product type (i.e. Engagement Engine, Connection Center, etc.)
        if isDocumentationHub
            - var productName = public[version]._data.index.name
            h3
                a.c-sidebar__doc-title.u-block.u-padding-top.u-padding-bottom.u-padding-start.u-padding-end.u-neutral-10.u-text-size-medium(href=`/${version}/`)= productName

        //- The accordion menus
        div.u-flex.u-context.u-background-accent
            div.sdk-sidebar__scroll.u-position.u-place-start.u-place-end.u-place-top.u-place-bottom.u-padding-bottom-lg.u-padding-top
                ul#sidebar-links.u-list-style-none.u-background-accent
                    +buildMenu
                button#js-close-menu.u-visually-hidden Close Menu
