include ./logo

//- All of our articles are nested in a folder matching the article "short name"
//- and then contain a file name `index.md` that hosts the actual content

- var path = [].concat(current.path)
- var version = path[0]
- var tabIndex = 0
- var currentDoc = path[path.length - 2]

mixin renderMenuLink(level, slug, path, data, hasChildren)
    -
        var isActiveDoc = slug === currentDoc ? "c--active" : ""
        var title = ((data && data.title) || "** MISSING TITLE **")
        var accordionIsActive = hasChildren && currentDoc in hasChildren
        var accordionClasses = {
            "sdk--active": accordionIsActive,
            "sdk--remove-transition": accordionIsActive
        }
        var href = `${path}/${slug}/`

    //- Top-level category; accordion button
    if (level === 1 && hasChildren)
        button.sdk-sidebar__accordion.u-text-medium(class=[accordionClasses, isActiveDoc])
            .sdk-sidebar__accordion-title= title
    //- Top-level category; just a link
    if (level === 1 && !hasChildren)
        a.sdk-sidebar__link.u-text-medium(href=href tabindex=tabIndex++ class=isActiveDoc)
            span.sdk-sidebar__accordion-title= title
    //- Document link (inside accordion)
    if (level > 1)
        a.sdk-sidebar__list-link(href=href class=isActiveDoc)= title

mixin renderMenu(level, path, node)
    each item, slug in node._data
        //- Ignore special slugs
        if (slug.startsWith('_') || slug === "styleguidist" || slug === "index")
            - continue;

        li
            - var hasChildren = node[slug] && node[slug]._data
            - var accordionIsActive = hasChildren && currentDoc in hasChildren
            - var accordionInlineStyles = (accordionIsActive ? "max-height: initial;" : "")
            +renderMenuLink(level, slug, path, node._data[slug], hasChildren)
            if (level === 1 && hasChildren)
                ul.sdk-sidebar__accordion-item.u-list-style-none(style=accordionInlineStyles)
                    +renderMenu(level + 1, path + '/' + slug, node[slug])

mixin sidebar
    nav.c-sidebar.c--hide.u-flexbox.u-flex-column.u-fixed.u-place-top.u-place-bottom.u-place-start.u-clip.u-background-accent(role='navigation' id='navigation')
        h2.u-visually-hidden Menu

        //- Logo and support link
        div.u-flex-none.u-padding-start.u-padding-end.u-padding-top.u-padding-bottom.u-background-accent-darker
            div.u-flexbox.u-align-center.u-justify-between
                a#js-menu-first-focus.u-neutral-10(href=`${DOCS_ROOT}${version}/`)
                    div.c-logo
                        +logo
                a.u-neutral-10(href='https://cloud.mobify.com/support/')
                    span.u-block.u-padding-top-sm.u-padding-bottom-sm.u-text-medium Support

        //- Product picker
        div.u-background-accent-dark
            div.c-sidebar__product-picker.u-flexbox.u-justify-between.u-align-center.u-margin-top-md.u-margin-bottom-md.u-padding-start.u-padding-end.u-neutral-10.u-text-size-medium
                button.u-background-accent-dark #{PROJECT_NAME}
                span.c-sidebar__product-picker-chevron
                    include ../theme/icons/icon-chevron-down.svg
            ul.c-sidebar__product-picker-item.u-text-size-medium
                //- Projects define a PROJECT_NAME global in _harp.json, which
                //- we use here to determine what appears in the list of other
                //- products.
                each href, name in { 'Progressive Web SDK': '/progressive-web', 'AMP SDK': '/amp-sdk', 'Documentation Home': '/' }
                    if PROJECT_NAME !== name
                        li.u-margin-start.u-margin-bottom-md
                            a.c-sidebar__product-picker-link(href=href) #{name}

        //- The accordion menus
        div.u-flex.u-context.u-background-accent
            div.sdk-sidebar__scroll.u-position.u-place-start.u-place-end.u-place-top.u-place-bottom.u-padding-bottom-lg.u-padding-top
                ul#sidebar-links.u-list-style-none.u-background-accent
                    if version && public[version] && public[version]._data
                        +renderMenu(1, DOCS_ROOT + version, public[version])
                button#js-close-menu.u-visually-hidden Close Menu
